.error-container {
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
  padding-top: 2rem;
}

.error-container > h3 {
  font-weight: 600;
  text-transform: uppercase;
}